# Flutter
.dart_tool/
.packages
.pub-cache/
.pub/
build/

# Android
android/.gradle/
android/app/build/

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/ephemeral/

# IDE
.vscode/
.idea/
*.iml

# OS
.DS_Store
Thumbs.db
